extends layout

block style
	link(rel='stylesheet' href='/stylesheets/form-style.css')

block content
	p#heading

	mixin heartSVG
		svg
			path(d='m47.07145,1.10096c-24.6443,0 -44.67244,20.75463 -44.67244,46.29287c0,52.00231 50.59152,65.62014 85.10099,117.00522c32.61089,-51.07646 85.10097,-66.70031 85.10097,-117.00522c0,-25.53824 -20.02812,-46.29287 -44.67242,-46.29287c-17.86897,0 -33.28096,10.95597 -40.42855,26.69554c-7.14759,-15.73957 -22.52234,-26.69554 -40.42855,-26.69554l0,0z')

	mixin scale-faces(q)
		div(class="scale")
			p= q
			label(for="btn1")
				#radio1(class="radiodiv")
					input#btn1(type="radio" name= q)
					span(class="bgcircle")
					img#img1(class="btnimg" src="/images/btn1.svg")
			label(for="btn2")
				#radio2(class="radiodiv")
					input#btn2(type="radio" name= q)
					span(class="bgcircle")
					img#img2(class="btnimg" src="/images/btn2.svg") 
			label(for="btn3")
				#radio3(class="radiodiv")
					input#btn3(type="radio" name= q)
					span(class="bgcircle")
					img#img3(class="btnimg" src="/images/btn3.svg")
			label(for="btn4")					
				#radio4(class="radiodiv")
					input#btn4(type="radio" name= q)
					span(class="bgcircle")
					img#img4(class="btnimg" src="/images/btn4.svg")
			label(for="btn5")
				#radio5(class="radiodiv")
					input#btn5(type="radio" name= q)
					span(class="bgcircle")
					img#img5(class="btnimg" src="/images/btn5.svg") 
			
	mixin scale-stars(q)
		div(class="scale")
			p= q
			label(for="star5")
				#radio5(class="radiodiv")
					input#star5(type="radio" name= q)
					span(class="bgcircle st")
					img#img5(class="btnimg" src="/images/star.png") 
			label(for="star4")
				#radio4(class="radiodiv")
					input#star4(type="radio" name= q)
					span(class="bgcircle st")
					img#img4(class="btnimg" src="/images/star.png")
			label(for="star3")
				#radio3(class="radiodiv")
					input#star3(type="radio" name= q)
					span(class="bgcircle st")
					img#img3(class="btnimg" src="/images/star.png")
			label(for="star2")
				#radio2(class="radiodiv")
					input#star2(type="radio" name= q)
					span(class="bgcircle st")
					img#img2(class="btnimg" src="/images/star.png") 
			label(for="star1")
				#radio1(class="radiodiv")
					input#star1(type="radio" name= q)
					span(class="bgcircle st")
					img#img1(class="btnimg" src="/images/star.png") 	

	mixin scale-hearts(q)
		div(class="scale")
			p= q
			label(for="hrt5")
				#radio5(class="radiodiv")
					input#hrt5(type="radio" name= q)
					+heartSVG 
			label(for="hrt4")
				#radio4(class="radiodiv")
					input#hrt4(type="radio" name= q)
					+heartSVG 	
			label(for="hrt3")
				#radio3(class="radiodiv")
					input#hrt3(type="radio" name= q)
					+heartSVG
			label(for="hrt2")
				#radio2(class="radiodiv")
					input#hrt2(type="radio" name= q)
					+heartSVG 
			label(for="hrt1")
				#radio1(class="radiodiv")
					input#hrt1(type="radio" name= q)
					+heartSVG			

	mixin text(q)
		div(class="text")
			p= q
			#textdiv
				input#myText(type='text', value='' name=q)

	each index in ql
		if index.type == "scale-faces"
			+scale-faces(index.question)
		else if index.type == "scale-stars"
			+scale-stars(index.question)
		else if index.type == "scale-hearts"
			+scale-hearts(index.question)
		else if index.type == "text"
			+text(index.question)
		else if index.type == "scale"
			+scale-faces(index.question)
		else if index.type == "empty"
			p Sorry, no questions!

	if ql[0].type != "empty"
		#submitBtnDiv
			span(onclick="reply()")#sub SUBMIT

	script.
		var str = "#{JSON.stringify(ql)}".replace(/&quot;/g, "\"");				
		var questions = JSON.parse(str);        
	script(src="javascripts/indexPretty.js")




